*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-optical-sizing: auto;
    font-weight: 500; /*Range 400-900*/
    font-style: normal;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

header
{   
    padding: 20px 130px;
}

header hr
{
    margin: 0.4rem 0;
}

.subscribeText
{
    color: rgb(121, 121, 121);
}

.logo
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 35px;
}

.newsGenre a
{
    font-weight: 500;
    font-size: 17px;

}

.heroNewsTitle
{
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
}

.heroNewsDescription
{

}

.heroContinueReading
{
    text-decoration: underline;
    font-size: 25px;
    font-weight: 700;
}

.newsTag
{
    font-style: normal;
    font-weight: 800;
    color: rgb(0, 0, 31);
    padding-bottom: 10px;
}

.newsTitle
{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
}

.newsDescription
{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
}

.continueReading
{
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: rgb(0, 79, 182);
    text-decoration: underline;
    padding-top: 5px;
}

.blog-post
{
    padding-bottom: 20px;
}